<div class="container-fluid">
  <%= render "game_title" %>
  
  <% if alert %>
    <div class="alert alert-danger"><%= alert %></div>
  <% end %>
  
  <div class="row">
    <div class="col-xs-12">
      <%= form_tag games_url do %>
        <%= button_tag "Create New Game", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  
  <div class="row game-history">
    <div class="col-xs-12">
      <h4>Game History</h4>
      
      <%= render partial: "game_history",
                 locals: { games: @games.map { |g| GamePresenter.new(g) } } %>
      
      <%= will_paginate @games, class: "digg_pagination",
                                previous_label: "«",
                                next_label: "»" %>
    </div>
  </div>
</div>



