<div class="container">
  <%= render partial: "game_title" %>
  
  <div class="row">
    <div class="col-xs-8">
      <%= render partial: "game_status", locals: { game: @game } %>
      <%= render partial: "game_secret", locals: { game: @game } %>
      <%= render partial: "game_input", locals: { game: @game } %>
    </div>
    <div class="col-xs-4">
      <%= game_status_image_tag @game %>
    </div>
  </div>
  
  <div>
    <button class="btn btn-default">
      <%= link_to "Back", games_path %>
    </button>
  </div>
  
</div>
