<% if notice %>
  <p class="alert"><%= notice %></p>
<% end %>

<h3>Active game for current player</h3>
<div>
  <p>guesses: <%= @active_game.state.guesses %></p>
  <p>secret: <%= @active_game.state.secret.join %></p>
</div>
<div>
  Secret: <%= @active_game.state.secret.map { |c| @active_game.state.guessed?(c) ? c : "_" }.join(" ") %>
</div>
<div>
  Lives left: <%= @active_game.state.max_misses - @active_game.state.missed_guesses.size %>
</div>

<!-- Submit a guess to active game -->
<div>
  <%= form_for(:guess, url: submit_guess_path) do |f| %>
    <div>
      <%= f.text_field :content, maxlength: 1, size: 10 %>
      <%= f.submit value: "Guess" %>
    </div>
  <% end %>
</div>
