<div class="container">
  <%= render partial: "game_title" %>
  
  <div class="row">
    <div class="col-xs-8">
      <%= render partial: "game_status", locals: { game: @game, guess: @guess } %>
      <%= render partial: "game_secret", locals: { game: @game } %>
      <%= render partial: "game_input", locals: { game: @game } %>
    </div>
    <div class="col-xs-4">
      <!-- TODO: use games_helper -->
      <%= 
        image_tag "hang_#{@game.missed_guesses.size + 1}.gif",
                  alt: "#{@game.missed_guesses.size} missed guesses",
                  class: "game-status-img"
      %>
    </div>
  </div>
  
  <div>
    <button class="btn btn-default">
      <%= link_to "Back", games_path %>
    </button>
  </div>

</div>
